*
!app/config/custom-environment-variables.yml
!app/config/default.yml
!app/src
!app/.npmrc
!app/base.tsconfig.json
!app/knexfile.ts
!app/package.json
!app/package-lock.json
!app/tsconfig.json
!app/scripts